<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>People Management System</title>

 <th:block th:include="fragments/geral.html :: headerfiles">
        </th:block>

</head>
<body>
	<header th:insert="fragments/geral.html :: header"> </header>

	<div class="container my-2">
		<a th:href="@{/admin/users/new}" class="btn btn-primary btn-sm mb-3">Add User</a>
		<h1>Users</h1>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Username</th>
					<th>Role</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="users : ${listUsers}">
					<td th:text="${users.username}"></td>
					<td th:text="${users.role}"></td>
					<td>
						<a th:href="@{/admin/users/change/role/{id}(id=${users.id})}" class="btn btn-primary">Change role</a>
						<a th:href="@{/admin/users/delete/{id}(id=${users.id})}" class="btn btn-danger">Delete</a>			
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>