<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" 
crossorigin="anonymous">
	
 <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

<script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"></script>
 <script src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" 
  crossorigin="anonymous"></script>
</head>
<body>
	<div th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light"
			role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="btn-outline-primary" href="/">Posweb</a>
				</div>
				
				<div sec:authorize="isAuthenticated()">
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item">
							<form name="logoutForm" th:action="@{/logout}" method="post">
								<label>Hello <span sec:authentication="name">Users</span></label>
								<input class="btn btn-outline-danger" type="submit" value="Sair" />
							</form>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container my-2">
			<h1>Posweb</h1>
			<hr>
		</div>
	</div>
</body>
</html>